
{% extends 'base.html.twig' %}

{% block title %}Modifier les options de réponse {% endblock %}
{% block body %}
    <h1>Modifier</h1>
    {% for form in forms %}
        {{ form_start(form) }}
            {{ form_row(form.content, {'attr': {'value' : options[loop.index0].content  }}) }}
            {{ form_row(form.trueFalse, {'attr': {'value' : options[loop.index0].trueFalse }}) }}
            {{ form_row(form.valider) }}
        {{ form_end(form)  }}
    {% endfor %}

   

<a href="{{ path('admin') }}"><button class="button-success">Retour</button></a>
{% endblock %}
